*{
    box-sizing: border-box;
  }
  html, body{
    height: 100%;
    margin:0;
    padding:0;
  }
  #container{
    min-height: 100%;
  }
  #main{
    overflow:auto;
    padding-bottom: 100px;
  }
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  #cover_image{
    position: relative;
    width:100%;
    z-index: 1;
  }
  #navWrap{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  .navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 4px 1px 4px gray;
    height: 4em;
  }
  .navtitle{
    font-size: 1.15rem;
    margin-left: 1.5rem;
    color: #666666;
  }
  .navbar_links ul{
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1rem;
  }
  .navbar_links li{
    list-style: none;
  }
  .navbar_links li a:hover{
    color: #83afbc;
    background: rgba(236, 231, 231, 0);
  }
  .navbar_links li a{
    text-decoration: none;
    color: #666666;
    padding: 2.5rem;
    display: block;
    font-size: 1rem;
  }
  .toggle-button{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  .toggle-button .bar{
    height: 2px;
    width: 90%;
    background-color: #666666;
    border-radius: 10px;
  }
  @media (max-width: 800px){
    .toggle-button{
      display: flex;
    }
    .navbar_links{
      display: none;
      width: 100%;
    }
    .navbar{
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar_links ul{
      width: 100%;
      flex-direction: column;
    }
    .navbar_links li{
      text-align: center;
      background-color: #d7f0f89d;
    }
    .navbar_links li a{
      padding: 0rem 0rem;
    }
    .navbar_links.active{
      display: flex;
    }
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    border-top: 1px solid rgba(255,255,255,0.5);
    background-color: rgba(255,255,255,0.5);
    height:100px;
    clear: both;
    box-shadow: 0 -5px 5px -5px #333;
  }
  #inner_footer{
    color: #666666;
    font-family: 'Comfortaa', cursive;
    margin-top: 2%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    font-size: 2.5vmin;
  }
  #inner_footer a{
    text-decoration: none;
  }
  #inner_footer a:hover{
    color: #eeb9c7;
    text-shadow: 2px 1px 4px #eeb9c7;
  }
  .socials{
    /*width: 40px;*/
    width: 5.5vmin;
    height: 5.5vmin;
  }
  .socials:hover{
    box-shadow: 3px 1px 4px #eeb9c7;
  }
 

  .headers{
    /*font-size: 38px;*/
    font-size: 7vmin;
  }
  .paragraphs{
    /*font-size: 18px;
    line-height: 35px;*/
    font-size: 2.5vmin;
    line-height: 5.5vmin;
  }

  #pinkbutton{
    position: absolute;
    font-size: 2vmin;
    background-color: #FFC2D3;
    font-family: Comfortaa;
    color:white;
    border:none !important;
    outline:none !important;
    box-shadow: 2px 2px 2px #ce91a9;
    left:15%;
    margin-right: 0.5em;
    margin-top: 2em;
    border-radius: 4.5px;
    width: 20vmin;
    height: 5vmin;
    cursor: pointer;
  }
  #pinkbutton:hover{
      border:none !important;
      outline:none !important;
      background-color: #eeb9c7 !important;
  }
  .buttons {
    display: flex;
    align-self: right;
  }
  #blurb{
    color: #666666;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: large;
  }
  .carousel{
      margin-bottom: 12%;
  }

