body{
  /*background:rgb(202, 224, 173, 0.5);*/
}
#left{
    display: inline-block;
    position: fixed;
}
#right{
    display: inline-block;
    position: fixed;
}
#navWrap{
    width: 100%;
    height: 3.75em;
    background-color: rgba(255,255,255,0.5);
    position:fixed;
    top: 0;
    text-align: center;
    z-index: 1000;
}
#nav{
    width:100%;
    height:3.75em;
    font-family: 'Comfortaa', cursive;
    background-color: rgba(255,255,255,0.2);
    letter-spacing: 2px;
    margin: 0 auto;
    z-index: 1000;
}
.menu{
    position: relative;
    width: 100%;
    height: 40px;
    left: 350px;
    max-width: 1500px;
    margin: 0 auto;
}
#navName{
    color: #666666;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    position: fixed;
    left: 56px;
}
#cherry{
  width:30px; 
  height:30px;
  position:fixed;
  top:12px;
  left:20px;
}
.navItems{
    color: #666666;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    width: 200px;
    height: 40px;
}
.navItems:hover{
    color: #f5b0cb;
    background: rgba(255,255,255,0.1);
}
#ball{
    width: 70px;
    height: 70px;
    /* margin: 150px auto; */
    position: fixed;
    left: 10%;
    border-radius: 50%;
    background: linear-gradient(
      35deg,
      #ccffff,
      #ffcccc
    );
    /*animation-name: fade; 
    animation-duration: 4s;*/
  }
/*@keyframes fade {
    50% {
      left: 80%;
      opacity: 0.1;
    }
}*/
#acorn{
  width: 70px;
  height: 70px;
  /* margin: 150px auto; */
  position: fixed;
  left: 10%;
}
#squirrel{
    width: 70px;
    height:70px;
    left: 6%;
    /* margin: 150px auto; */
    position: fixed;
}
#fox{
    width: 70px;
    height:70px;
    left: 69.5%;
    /* margin: 150px auto; */
    position: fixed;
}
#ballwithsquirrel{
  display: inline-block;
  position: absolute;
  top: 10%;
  padding: 0;
  margin: 0;
}
#hi{
  margin-top: 350px;
  font-family: 'Comfortaa', cursive;
}
.headers{
  font-size: 38px;
}
.paragraphs{
  font-size: 18px;
  line-height: 35px;
}
#about{
    position: absolute;
    margin: 0;
    margin-top: 400px;
    margin-left: 10%;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    left: 5%;
    display:flex;
}
#meheader{
  flex-basis: 300em;
}
#me{
  flex-basis: 200em;
}