*{
  margin:0;
  padding:0;
}
html, body{
  height: 100%;
}
#container{
  min-height: 100%;
}
#main{
  overflow:auto;
  padding-bottom: 100px;
}
#footer{
  border-top: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.5);
  position:relative;
  bottom:0;
  margin-top: 750px;
  height:100px;
  clear: both;
  box-shadow: 0 -5px 5px -5px #333;
}
#inner{
  color: #666666;
  font-family: 'Comfortaa', cursive;
  margin-top: 30px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.socials{
  width:40px;
}
#left{
    display: inline-block;
    position: fixed;
}
#right{
    display: inline-block;
    position: fixed;
}
#navWrap{
    width: 100%;
    height: 3.75em;
    background-color: rgba(255,255,255,0.3);
    position:fixed;
    top: 0;
    text-align: center;
    z-index: 1000;
}
#nav{
    width:100%;
    height:3.75em;
    font-family: 'Comfortaa', cursive;
    background-color: rgba(255,255,255,0.2);
    letter-spacing: 2px;
    margin: 0 auto;
    z-index: 999;
}
.menu{
    position: relative;
    width: 100%;
    height: 40px;
    left: 350px;
    max-width: 1500px;
    margin: 0 auto;
}
#navName{
    color: #666666;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    position: fixed;
    left: 56px;
}
#cherry{
  width:30px; 
  height:30px;
  position:fixed;
  top:12px;
  left:20px;
}
.navItems{
    color: #666666;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    width: 200px;
    height: 40px;
}
.navItems:hover{
    color: #f5b0cb;
    background: rgba(236, 231, 231, 0);
    /*above ^ is where you change the text box shadow around the hover so it wont be there*/
}
#ball{
    width: 70px;
    height: 70px;
    /* margin: 150px auto; */
    position: fixed;
    left: 10%;
    border-radius: 50%;
    background: linear-gradient(
      35deg,
      #ccffff,
      #ffcccc
    );
    /*animation-name: fade; 
    animation-duration: 4s;*/
  }
/*@keyframes fade {
    50% {
      left: 80%;
      opacity: 0.1;
    }
}*/
#ballwithsquirrel{
  display: inline-block;
  position: relative;
  /* margin-top: 10px; */
}
#acorn{
  width: 70px;
  height: 70px;
  /* margin: 150px auto; */
  position: relative;
}
#squirrel{
    width: 70px;
    height:70px;
    /* margin: 150px auto; */
    position: relative;
}
#fox{
    width: 70px;
    height:70px;
    left: 74.5%;
    margin-top: 1px;
    /* margin: 150px auto; */
    position: relative;
}
#hi{
  margin-top: 200px;
  font-family: 'Comfortaa', cursive;
}
.headers{
  font-size: 38px;
}
.paragraphs{
  font-size: 18px;
  line-height: 35px;
}
#about{
    position: absolute;
    margin: 0;
    margin-top: 300px;
    margin-left: 10%;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    left: 5%;
    display:flex;
}
#meheader{
  flex-basis: 400em;
  margin-right: 80px;
}
#me{
  flex-basis: 350em;
  border-radius: 20%;
  z-index: 4;
}
#girl{
  width:100%;
  z-index: 1;
}